*.[0-9].gz
*.[0-9].tmp
*.la
*.lo
*.o
*~
.deps
.libs
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
m4/
Makefile
Makefile.in
Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/stamp-po
po/*.header
po/*.sed
po/*.sin
po/*.gmo
src/pam_panic/man/*
!src/pam_panic/man/Makefile.am
!src/pam_panic/man/man8
src/pam_panic_pw/pam_panic_pw
src/pam_panic_pw/man/*
!src/pam_panic_pw/man/Makefile.am
!src/pam_panic_pw/man/man1
stamp-h1
test/test
