*.[0-9].gz
*.[0-9].tmp
*.la
*.lo
*.o
*~
.deps
.libs
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
libtool
Makefile
Makefile.in
src/pam_panic_pw/pam_panic_pw
stamp-h1
test/test
